<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mypage.css?after">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <div class="cover">
        <div class="button-container">
            <button type="button" id="selling-b" onclick="location.href='/main/mypage/salestatus'">판매 현황</button>
            <button type="button" id="mypage-b" onclick="location.href='/main/mypage/purchasehistory'">구매 내역</button>
        </div>
    </div>
</body>
</html>
