<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Show</title>
    <link rel="stylesheet" href="/css/saleshow.css?after">
</head>
<body>
    <h1 class="form-title" th:text="${producter.ProducterTitle}"></h1>

	<div class="prod-info-container">
		<div class="prod-img">
			<img th:src="@{/images/{producterImage}(producterImage=${producter.producterImage})}" alt="Sale Image">
		</div>
		<div class="prod-info">
			<h3 th:text="${producter.ProducterName}"></h3>
			<ul>
				<li>분류: <span th:text="${producter.Category}"></span></li>
				<li>판매 가격: <span th:text="${producter.ProducterPrice}"></span></li>
			</ul>
			<div class="edit-button">
				<button type="button" th:if="${member.verify == 9 or member.id == producter.LoggedInMember.id}" th:onclick="|location.href='@{/main/sale/{id}/edit(id=${producter.id})}'|">수정</button>
				<button type="button" th:if="${member.verify == 9 or member.id == producter.LoggedInMember.id}" onclick="location.href='/main'">글삭제</button>
			</div>
		</div>
	</div>
	
	<label class="form-label">자세한 설명</label>
	<p class="form-input-item" th:text="${producter.ProducterDetail}"></p>

	<div class="button-back-next">
		<button type="button" onclick="location.href='/main'">돌아가기</button>
		<button type="button" th:onclick="|location.href='@{/main/sale/{id}/purchaseform(id=${producter.id})}'|">구매하기</button>
	</div>

	<button th:if="${member.verify == 9}" th:id="adminGoOverButton" th:attr="data-producter-id=${producter.id}" type="button">
	    <span th:if="${producter.adminGoOver == false}">검토대기</span>
	    <span th:if="${producter.adminGoOver == true}">검토완료</span>
	</button>
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
	$(document).ready(function() {
	    // 버튼 클릭 이벤트 처리
	    $('#adminGoOverButton').on('click', function() {
	        var productId = $(this).data('producter-id');
	        console.log("상품 ID:", productId);
	        
	        $.ajax({
	            type: 'POST',
	            url: '/updateAdminGoOver/' + productId,
	            success: function(response) {
	                if (response === 'success') {
	                    alert('검토 상태가 변경되었습니다.');
	                    location.reload(); // 페이지 새로고침
	                } else {
	                    alert('에러가 발생했습니다.');
	                }
	            },
	            error: function() {
	                alert('서버 요청 중 오류가 발생했습니다.');
	            }
	        });
	    });
	});
	</script>
</body>
</html>