@import "./style.css?after";

/* 로그인 페이지 */
.login-container {
    padding: 5vh 5vw;
    display: grid;
    place-items: center;
    width: 90%;
    height: 900px;
}

.input-row {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.input-label {
    width: 160px;
    font-family: 'BMJUA';
    font-weight: bold;
}

.input-row input {
    width: auto;
    height: 50px;
    border: none;
    border-bottom: 2px solid #02DF79;
    outline: none;
    font-size: 30px;
    padding-left: 40px;
    margin-right: 20px;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: -5px;
}


#login-a,
#login-b {
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'BMJUA';
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 4px 6px -1px #646363;
    cursor: pointer;
    transition: 0.5s;
    margin: 0 10px;
}

#login-a {
    background-color: #02DF79;
    font-family: 'BMJUA';
}

#login-b {
    background-color: #FF6502;
    font-family: 'BMJUA';
}