@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --c-main: #02D790;
    --c-yellow: #FFFFA3;
    --c-red: #FF6502;
    --c-green: #E4FCC0;
    --c-black: #342628;
}

body{
    margin: 0px;
    font-family: 'BMJUA';
}

/* 버튼 기본 설정 */
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    margin: 0;
    padding: 10px 20px 10px 20px;
    
    font-family: 'BMJUA';
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    
    border: solid;
    border-radius: 4px;
    border-color: var(--c-black);
    
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    
    cursor: pointer;
    transition: 0.5s;
}
button:active,
button:hover,
button:focus {
    border-radius: 30px;
}

/* 메인 페이지 - 커버(첫페이지)*/
.homepage .cover{
    height: 100vh;

    background-image: url("../public/imgs/main_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cover .button-container{
    padding: 0px 5vw 0px 5vw;
    display: flex;
    justify-content: space-around;
}
.cover .top-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.cover .bottom-container{
    height: 80px;
    text-align: center;
}

.cover .button-container button{
    padding: 8vh 8vw 8vh 8vw;
}
#selling-b{
    background-color: var(--c-main);
}
#mypage-b{
    background-color: var(--c-yellow);
}
.cover .material-ui{
    width: 60px;
    height: auto;
}
.cover #down-arrow{
        animation-duration: 3s;
        animation-name: scroll-induce;
        animation-iteration-count: infinite;
}
@keyframes scroll-induce {
    0%   { transform: translateY(0); }
    70%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
  