@import "./style.css?after";

/* 로그인 페이지 */
<<<<<<< HEAD
.login-container {
    padding: 5vh 5vw;
    display: grid;
    place-items: center;
    width: 90%;
    height: 900px;
}

.input-row {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.input-label {
    width: 160px;
    font-family: 'BMJUA';
    font-weight: bold;
}

.input-row input {
    width: auto;
    height: 50px;
    border: none;
    border-bottom: 2px solid #02DF79;
    outline: none;
    font-size: 30px;
    padding-left: 40px;
    margin-right: 20px;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: -5px;
}


#login-a,
#login-b {
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'BMJUA';
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 4px 6px -1px #646363;
    cursor: pointer;
    transition: 0.5s;
    margin: 0 10px;
}

#login-a {
    background-color: #02DF79;
    font-family: 'BMJUA';
}

#login-b {
    background-color: #FF6502;
    font-family: 'BMJUA';
=======
.login-container{
    padding: 5vh 5vw 5vh 5vw;
    display: grid;
    place-items: center;
  
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;

    width: 50%;
    height: 900px;

}

.login-container .memberId{
  
 font-size: 50px;
  
}

#memberId {
  width: auto;
  height: 50px;
  background-image: url("../imgs/Natural Food.svg"); 
  background-repeat: no-repeat;
  background-position: 5px left;
  padding-left: 40px;
  border-width: 0px 0px 3px 0px;
  border-color: var(--c-main);
  outline: none;
  
}

#memberPassword{
  width: auto;
  height: 50px;
  background-image: url("../imgs/Key.svg"); 
  background-repeat: no-repeat;
  background-position: 5px left;
  padding-left: 40px;
  border-width: 0px 0px 3px 0px;
  border-color:  var(--c-main);
  outline: none;
  
}


.login-container .memberPassword{
  
  font-size: 50px;
}


.login-button button {
    padding: 3vh 2vw;
    margin: 5px;
}

#login-a{
    background-color: var(--c-red);
   /* border: none;*/
  
  padding: 30px;
    font-size: 50px;
    text-align: center;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    margin: 5px;
    padding: 3vh 2vw;
    
    font-family: 'BMJUA';
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    
    border: none;
    border-radius: 4px;
    border-color: none;
    
    box-shadow: 0 4px 6px -1px #646363;
    
    cursor: pointer;
    transition: 0.5s;
}

#login-b{
    background-color: var(--c-main);
   /* border: none;*/
  
  padding: 30px;
    font-size: 50px;
    text-align: center;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    margin: 5px;
    padding: 3vh 2vw;
    
    font-family: 'BMJUA';
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    
    border: none;
    border-radius: 4px;
    border-color: none;
    
    box-shadow: 0 4px 6px -1px #646363;
    
    cursor: pointer;
    transition: 0.5s;
>>>>>>> origin/sumin2
}